<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interaktive touristic guide</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="icon" href="/public/images/favicon.ico">
</head>
<body>
  <nav class="main-nav">
    <div class="nav-container">
      <a href="#about" class="nav-link active">about</a>
      <a href="#guides" class="nav-link">guides</a>
      <a href="#settings" class="nav-link">settings</a>
    </div>
  </nav>

  <section id="about" class="section fullscreen">
    <div class="content">
      <h1>Welcome to interactive tour gide.</h1>
      <p>text</p>
    </div>
  </section>

  <section id="guides" class="section fullscreen">
    <div class="content">
      <h2>Available guides</h2>
      <div class="guide-grid">
      </div>
    </div>
  </section>

  <section id="settings" class="section fullscreen">
    <div class="content">
      <h2>Settings</h2>
      <div class="theme-switch">
        <label for="theme">Téma:</label>
        <select id="theme">
          <option value="light">Black</option>
          <option value="dark">White</option>
        </select>
      </div>
    </div>
  </section>

  <script src="/public/js/main.js"></script>
</body>
</html>